@import url(global_config.css);
@import url(text.css);

body {
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}

.container-main {
    background-color: var(--cor2);
    box-shadow: 0px 0px 10px black;

    width: 80vw;
    margin: 75px auto;

    flex-direction: column;
    justify-content: space-between;
}

.container-text {
    align-items: center;
    justify-content: space-between;
}

.container-language {
    justify-content: flex-end;
}

.container-language__flag {
    height: 42.5px;
}

.container-footer {
    background-color: var(--cor3);
    color: var(--cor2);
    height: 50px;

    align-items: center;
    justify-content: center;
}

.img-primary {
    min-width: 50%;
    max-width: 100%;
}

.link {
    background-color: var(--cor3);
    color: var(--cor2);
    box-shadow: 1px 1px 5px black;
    
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    
    width: 190px;
    padding: 13px 0px;
    display: inline-block;
}

.link:hover {
    background-color: var(--cor1);
    color: var(--cor2);
    transition: ease-in all 0.5s;
}

.margin_x-50px {
    margin: 50px 0px;
}

.margin_x-30px {
    margin: 30px 0px;
}

.margin_x-25px {
    margin: 25px 0px;
}

.margin_b-20px {
    margin-bottom: 20px;
}

@media (max-width: 1250px) {
    .img-secundary {
        object-fit: cover;
        object-position: left;
        width: calc(92.5% - 450px);
        height: 336px;
    }
}

@media (max-width: 975px) {
    .container-text {
        flex-wrap: wrap-reverse;
    }

    .img-primary {
        margin: auto;
    }

    .img-secundary {
        width: 100%;
        max-width: 550px;
        height: auto;
        margin: auto;
    }

    .img--margin_b {
        margin-bottom: 35px;
    }

    .img--margin_t {
        margin-top: 35px;
    }

    .img--small {
        display: none;
    }
}