:root {
    /* Paleta de Cores */
    --cor1: #474740;
    --cor2: #f9f9f9;
    --cor3: #1e2426;
}

body {
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% 10%;
}

figure {
    margin: 0%;
}
    
.container {
    background-color: var(--cor2);
    box-shadow: 0px 0px 10px black;

    max-width: 1080px;
    min-width: 320px;
    margin: auto;
}

.container h1, h2 {
    text-align: center;
    color: var(--cor3);
    margin: 25px;
}

.container h1 {
    font-size: 32px;
}

.container p {
    text-align: justify;
    text-indent: 40px;
    line-height: 1.25em;
    margin: 0px 25px;
}


.container-linguagem {
    display: flex;
    justify-content: end;
    margin-right: 1%;
}

.linguagem {
    width: 25px;
    height: 25px;
}

#primeiroTitulo {
    margin-top: 0px;
}

.primeiros-palagrafos {
    max-width: 480px;
    min-width: 265px;
}

#terceiro-palagrafo {
    max-width: 700px;
    min-width: 375px;
}

.noticias-palagrafo {
    max-width: 480px;
    min-width: 415px;
}

.link {
    background-color: var(--cor3);
    color: var(--cor2);
    box-shadow: 1px 1px 5px black;
    
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    
    width: 190px;
    padding: 13px 0px;
    margin: 15px 25px 0px;
    display: inline-block;
}

.link:hover {
    background-color: var(--cor1);
    color: var(--cor2);
    transition: ease-in all 0.5s;
}


.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

footer {
    background-color: var(--cor3);
    color: var(--cor2);

    height: 50px;
    margin-top: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media (max-width: 1225px) {
    .noticias {
        display: flex;
        color: #ff0000;
        flex-wrap: wrap;
    }
} */